<div class="legend">
  <div class="legend-item">
    <h4>Máscara</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img
          src="/assets/images/png/required-mask.png"
          alt="Icone de Máscara Obrigatória"
        />
        <p>Obrigatório</p>
      </div>
      <div class="legend-image">
        <img
          src="/assets/images/png/recommended-mask.png"
          alt="Icone de Máscara recomendada"
        />
        <p>recomendado</p>
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Toalha</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img
          src="../../../assets/images/png/required-towel.png"
          alt="Icone de toalha Obrigatória"
        />
        <p>Obrigatório</p>
      </div>
      <div class="legend-image">
        <img
          src="../../../assets/images/png/recommended-towel.png"
          alt="Icone de toalha recomendada"
        />
        <p>Recomendado</p>
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Bebedouro</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img
          src="../../../assets/images/png/partial-fountain.png"
          alt="Icone de Bebedouro parcial"
        />
        <p>Parcial</p>
      </div>
      <div class="legend-image">
        <img
          src="../../../assets/images/png/not_allowed-fountain.png"
          alt="Icone de Bebedouro proibido"
        />
        <p>Proibido</p>
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Armário</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img
          src="../../../assets/images/png/allowed-lockerroom.png"
          alt="Icone de armário liberado"
        />
        <p>Liberado</p>
      </div>
      <div class="legend-image">
        <img
          src="../../../assets/images/png/partial-lockerroom.png"
          alt="Icone de armário parcial"
        />
        <p>Parcial</p>
      </div>
      <div class="legend-image">
        <img
          src="../../../assets/images/png/closed-lockerroom.png"
          alt="Icone de armário Fechado"
        />
        <p>Fechado</p>
      </div>
    </div>
  </div>
</div>
